[submodule "ext/xopt"]
	path = ext/xopt
	url = git@github.com:Qix-/xopt.git
[submodule "ext/re2c"]
	path = ext/re2c
	url = git@github.com:skvadrik/re2c.git
	ignore = all
[submodule "ext/filesystem"]
	path = ext/filesystem
	url = https://github.com/bin-build/filesystem.git
[submodule "ext/bignumber"]
	path = ext/bignumber
	url = https://github.com/Limeoats/BigNumber.git
